@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html{
    background-color:#1a1a33;
}

h1{
    background-color:rgba(255, 255, 255, 00);
    border-width:0px;
    border-radius:5px;
    margin-top:0;
    margin-bottom:0;
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    font-family:'IBM Plex Sans KR',sans-serif;
    font-size:50px;
    color:#ffffff;
}

h2{
    background-color:rgba(148, 148, 148, 0.318);
    border-width:0px;
    border-radius:5px;
    margin-top:5px;
    margin-bottom:15px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    text-align:center;
    font-family:'IBM Plex Sans KR',sans-serif;
    font-size:15px;
    color:#ffffff;
}

.paragraph{
    background-color:rgba(148, 148, 148, 0.192);
    border-width:0px;
    border-radius:5px;
    margin-top:15px;
    padding:10px;
    margin-bottom:15px;
}
#t1{
    color:#ffffff;
    font-size:30px;
    margin-top:15px;
    margin-left:15px;
    margin-right:0px;
    margin-bottom:0px;
    font-family:'IBM Plex Sans KR',sans-serif;
}

#button1{
    background-color:#5050ff;
    border-radius:25px;
    width:250px;
    height:30px;
    border-width:0px;
    font-size:15px;
    color:#ffffffff;
    font-family:'IBM Plex Sans KR',sans-serif;
    margin:10px;
}
#button1:hover{
    background-color:#5070ff;
    border-radius:25px;
    width:250px;
    height:30px;
    border-width:0px;
    font-size:15px;
    color:#ffffffff;
    font-family:'IBM Plex Sans KR',sans-serif;
}

#button2{
    background-color:#ffae17;
    border-radius:25px;
    width:250px;
    height:30px;
    border-width:0px;
    font-size:15px;
    color:#ffffffff;
    font-family:'IBM Plex Sans KR',sans-serif;
    margin:10px;
    margin-left:0px;
}
#button2:hover{
    background-color:#ffbe5c;
    border-radius:25px;
    width:250px;
    height:30px;
    border-width:0px;
    font-size:15px;
    color:#ffffffff;
    font-family:'IBM Plex Sans KR',sans-serif;
}

#button3{
    background-color:#000000;
    border-radius:25px;
    width:250px;
    height:30px;
    border-width:0px;
    font-size:15px;
    color:#ffffffff;
    font-family:'IBM Plex Sans KR',sans-serif;
    margin:10px;
    margin-left:0px;
}
#button3:hover{
    background-color:#161616;
    border-radius:25px;
    width:250px;
    height:30px;
    border-width:0px;
    font-size:15px;
    color:#ffffffff;
    font-family:'IBM Plex Sans KR',sans-serif;
}

#inp{
    font-size:15px;
    color:#ffffffff;
    font-family:'IBM Plex Sans KR',sans-serif;
    margin-top:0px;
    margin-bottom:0px;
}

#t2{
    color:#ffffff;
    font-size:30px;
    margin-top:0px;
    margin-left:15px;
    margin-right:0px;
    margin-bottom:0px;
    font-family:'IBM Plex Sans KR',sans-serif;
}
#ti1, #ti2, #ti3, #ti4, #ti5, #ti6{
    background-color:rgba(79, 79, 79, 0.466);
    border-width:0px;
    border-radius:10px;
    margin:10px;
    padding:10px;
}
.talk{
    font-size:25px;
    color:#ffffffff;
    font-family:'IBM Plex Sans KR',sans-serif;
    margin-top:0px;
    margin-bottom:0px;
}
.st{
    font-size:15px;
    color:#ffffffff;
    font-family:'IBM Plex Sans KR',sans-serif;
    margin-top:0px;
    margin-bottom:0px;
}